.game {
    background-color: rgb(2, 170, 2);
}

.instructions {
    margin: 0px 10px;
}

.card {
    width: 72px;
    height: 97px;
    background-image: url('../assets/cards.png');
    border: none;
    margin: 15px;
}

#output {
    display : none;
    width: 100%;
}

.card-header {
    text-align: center;
}

.card-col-button {
    background-color: lightgray;

    border-color:black;
    border-width: 1px;
    border-style: solid;

    height: 50px;
}

.card-col-button:hover {
    background-color: red;
}

.card-col {
    border-style: solid;
    border-width: 0px 1px;
    padding: 5px;
}

.pointer {
    cursor: pointer;
}

.card-deck {
    padding: 10px 50px 50px 50px;
}

.last-line {
    border-style: solid;
    border-width: 0px 1px 1px 1px;
}

.last-line .card {
    margin-bottom: 15px;
}
