.card {
    width: 72px;
    height: 97px;
    background-image: url('../assets/cards.png');
    border: none;
}

#output {
    display : none;
    width: 100%;
}

td {
    padding: 0px 10px;
}

.card-header {
    text-align: center;
}

.card-col:hover {
    background-color: grey;
}

.pointer {
    cursor: pointer;
}
